<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Simple Apps
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Simple Apps</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Form Data Mahasisawa</ion-card-subtitle>
        <ion-card-title>Teknik Informatika</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Isi data mahasiswa
      </ion-card-content>
    </ion-card>
  </div>

  <div class="container">
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Nama Lengkap</ion-label>
          <ion-input [(ngModel)]="info.fullname" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input [(ngModel)]="info.email" type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" type="email">Tanggal Lahir</ion-label>
        <br> <br>
          <ion-datetime value="2019-10-01T15:43:40.394Z" [(ngModel)]="info.dob" displaytimezone="utc"></ion-datetime>
        </ion-item>
        <br>
        <ion-button color="success" (click)="saveData()" expand="block">Submit</ion-button>
      </ion-card-content>
    </ion-card>

  </div>
  <ion-card>
    <ion-card-content>
      <ion-button color="warning" (click)="scorePage()" expand="block">Score Apps</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>



